<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="false">
  <springProperty scope="context" name="LOG_DIR" source="log.directory" defaultValue="./logs"/>

  <include resource="log/console-logging.xml"/>
  <include resource="log/file-info-logging.xml"/>
  <include resource="log/file-error-logging.xml"/>
  <include resource="log/file-warn-logging.xml"/>
  <include resource="log/slack-error-logging.xml"/>

  <springProfile name="local">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <springProfile name="prod">
    <root level="INFO">
      <appender-ref ref="ASYNC_FILE_INFO_APPENDER"/>
      <appender-ref ref="ASYNC_FILE_WARN_APPENDER"/>
      <appender-ref ref="ASYNC_FILE_ERROR_APPENDER"/>
      <appender-ref ref="ASYNC_SLACK_APPENDER"/>
    </root>
  </springProfile>
</configuration>
